section.month-list-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: calc(3 * 400px + 2 * var(--small-gap)); /*limit to 3 columns*/
    row-gap: var(--small-gap);

    color: var(--black);
    margin-top: var(--large-gap);
    padding-inline: var(--padding-inline);
    padding-block-end: var(--large-gap);
    margin-inline: auto;
}

@media (max-width: 375px) {
    section.month-list-view {
        grid-template-columns: 100%;
    }
}

