article#month {
    overflow: visible;
    padding: 0;
}

section.month-title-banner {
    background: var(--accent-color-1-opaque);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 160px;

    position: sticky;
    top: var(--header-height);
    z-index: 1;
}

.month-title-banner > button.month-swipe {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.month-title-banner > button.month-swipe > span {
    font-size: 6rem;
    color: var(--white);
}

@media (max-width: 768px) {
  .month-title-banner > button.month-swipe > span {
    font-size: 5rem;
  }
}

@media (max-width: 425px) {
  .month-title-banner > button.month-swipe > span {
    font-size: 3rem;
  }
}

.month-title-banner > button.month-swipe.disabled {
    opacity: 0.5;
}

section.month-buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--padding-inline);
}

.sticky-image {
    /* background-image: url('./public/assets/img/hero-image-1.png'); */
    background-size: cover;
    /* object-fit: fill; */
    background-position: top;
    width: 100%;
    height: 100vh;
    position: sticky;
    /* top: calc(var(--header-height) + 160px); */
    top: var(--header-height);
    margin-top: -160px;
    z-index: -2;         
}

