article#month {
    overflow: visible;
    padding: 0;
}

section.month-title-banner {
    background: var(--accent-color-1-semi-opaque);
    height: 170px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: var(--header-height);
    z-index: 2;
}

section.month-title-banner > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
}

.month-title-banner button.month-swipe {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.month-title-banner button.month-swipe > span {
    font-size: 6rem;
    color: var(--white);
}

.month-title-banner .month-name-container {
  text-align: center;
}

.month-title-banner .month-name-container > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.month-title-banner button.month-swipe:disabled {
    opacity: 0.25;
    cursor: default;
}

section.events {
  padding-block-start: 20px;
  padding-block-end: 100px;
  background: var(--black-overlay);
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 90%, rgba(255, 255, 255, 0) 100%);
}

section.month-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-inline: var(--padding-inline);
}

.sticky-image {
    /* background-image: url('./public/assets/img/hero-image-1.png'); */
    background-size: cover;
    /* object-fit: fill; */
    background-position: top;
    width: 100%;
    height: 90vh;
    position: sticky;
    /* top: calc(var(--header-height) + 160px); */
    top: var(--header-height);
    margin-top: -170px;
    z-index: -2;         
}

@media (max-width: 1024px) {
  section.month-title-banner > div {
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .month-title-banner button.month-swipe > span {
    font-size: 3.5rem;
  }
}

@media (max-width: 520px) {
  .month-title-banner .month-name {
    font-size: 2.5rem;
  }

  .month-title-banner .month-name-details h2, h4 {
    font-size: 1.5rem;
  }

  .month-title-banner button.month-swipe > span {
    font-size: 3rem;
  }
    section.month-title-banner {
    height: 110px
  }
  .sticky-image {
    margin-top: -110px;
  }
}