section.upcoming-events {
    display: grid;
    grid-template-areas: 
        'event1 event1 event2'
        'event1 event1 event3'
    ;
    width: 100%;
    max-height: 900px;
    margin-block-start: var(--padding-inline);
    gap: var(--small-gap);
}

.next-event {
    grid-area: event1;
    display: flex;
    background-color: var(--white);
    color: var(--black);
    flex: 2;
    position: relative;
}

.next-event .event-image-container {
    flex: 2;
    overflow: hidden;
}

.next-event .event-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.next-event .event-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--small-gap);
}

.following-event:first-of-type {
    grid-area: event2;
}

.following-event:last-of-type {
    grid-area: event3;
}

.following-event {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    max-height: 440px;
    position: relative;
}

.following-event:hover {
    outline: 1px solid var(--white);
    outline-offset: 5px;
}

.following-event .event-image-container {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
}

.following-event .event-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.following-event .event-details-container {
    padding: var(--small-gap);
    flex: 0 0 auto;
}

span.tag-shape {
    background-color: var(--accent1);
    padding: 10px 15px;
    align-self: flex-start;
}

span.tag-shape.absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
}

.following-event .event-details-container > button.add-to-calendar-icon {
    background-color: var(--accent1);
    color: var(--black);
    border: none;
    padding: 10px;
    line-height: 0;
    height: 45px;

    position: absolute;
    top: 0;
    right: 0;
}

.following-event .event-details-container:last-child p {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    section.upcoming-events {
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .following-event {
        flex-direction: row;
    }

    .following-event .event-image-container {
        flex: 2;
        min-height: 400px;
    }

    .following-event .event-details-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--small-gap);
    }
}

@media (max-width: 768px) {
    article#upcoming-events {
        margin-block-start: 50px;
    }

    .following-event {
        flex-direction: column;
        max-height: 100%;
    }

    .following-event .event-image-container {
        flex: 0 0 250px;
        height: 250px;
    }

    .following-event .event-details-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}