footer {
    width: 100%;
    height: 400px;
    border-top: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black-overlay);
    padding: 0 40px;
}

.footer-group-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-footer {
    fill: var(--white);
    height: 50px;
    width: auto;
    object-fit: contain;
}

#email-signup-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#email-signup-form > input {
    width: 100%;
      /* type same as a tag */
    font-family: 'Univers', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--black);

    /* box */
    padding: 10px ;
    background-color: var(--white);
    border: 0.75px solid var(--black) ;
}

#email-signup-form > input::placeholder {
    font-family: 'Univers', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--black-overlay);
}

#email-signup-form > button {
    width: 100%;
    margin-block-start: 1rem;
}

@media (max-width: 768px) {
    .footer-group-one {
        flex-direction: column;
    }
    #email-signup-form {
        margin-top: 50px;
        max-width: 400px;
    }
    footer {
        justify-content: start;
        height: 100%;
        padding-block: 40px;
    }
    footer > h6 {
        margin-top: 50px
    }
    .logo-footer {
        height: 40px;
    }
}



