header {
    width: 100%;
    height: 110px;
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-overlay);
    padding: 0 40px;
}

.logo-header {
    fill: var(--white);
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    /* flex: 1; */
}

nav > * {
    margin-inline: 20px;
}

.presented-by {
    text-align: end;
    text-wrap: nowrap;
}

.presented-by > * {
    margin: 0;
}

.presented-by > p {
    text-transform: uppercase;
}

/* Temporary! */
@media (max-width: 1200px) {
    .logo-header {
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .presented-by {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}