header {
    width: 100%;
    overflow: hidden;
    height: 110px;
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-overlay);
    padding: 0 40px;
}

.logo-header {
    fill: var(--white);
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    transition: color 0.3s;
    cursor: pointer;
}
nav a:hover {
    color: var(--accent1)
}

nav li {
    list-style: none;
}

nav li.mobile {
    display: none;
    
}

/* Old button */
/* button.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
} */
 /* .hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  transition: all 0.3s ease;
} */

.hamburger-react {
    display: none;
    cursor: pointer;
}

.presented-by {
    text-align: end;
    text-wrap: nowrap;
}

.presented-by > * {
    margin: 0;
}

.presented-by > p {
    text-transform: uppercase;
}

/* Temporary! */
@media (max-width: 1200px) {
    .logo-header {
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .presented-by {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo-header {
        height: 30px;
    }
    .hamburger-react  {
        display: flex;
    }
    nav {
        position: absolute;
        top: 110px; /* navbar height */
        right: 0;
        background: rgb(15, 74, 31);
        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: height 0.8s ease, padding 0.8s ease, visibility 0s linear 1s;
    }
    nav ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    nav.open {
        height: 300px;
        padding: 40px;
        transition: height 0.8s ease, padding 0.8s ease, visibility 0s linear;
    }
    nav li.mobile {
        display: block;
    }
    nav li.mobile a {
        font-size: 1.5rem;
    }

    nav li.desktop {
        display: none;
    }
}

/* Hamburger animation */
/* .hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
} */

