header {
    width: 100%;
    /* overflow: hidden; */
    height: var(--header-height);
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-overlay);
    /* backdrop-filter: blur(0.5px); */
    padding: 0 var(--padding-inline);
    position: sticky;
    top: 0;
    z-index: 4;
}

.logo-header {
    fill: var(--white);
    height: 50px;
    width: auto;
    object-fit: contain;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 2rem;
    margin: 0;
    padding: 0;
    
}

nav a {
    transition: color 0.3s;
    cursor: pointer;
    text-wrap: nowrap;
}
nav a:hover {
    color: var(--accent1)
}

nav li {
    list-style: none;
}

nav li.mobile-only {
    display: none;
    font-size: 1.5rem;
}

.hamburger-react {
    display: none;
    cursor: pointer;
}

.presented-by {
    text-align: end;
    text-wrap: nowrap;
}

.presented-by > * {
    margin: 0;
}

.presented-by > p {
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .logo-header {
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .presented-by {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo-header {
        height: 30px;
    }
    .hamburger-react  {
        display: flex;
    }
    nav {
        position: absolute;
        top: 110px; /* navbar height */
        right: 0;
        background: rgb(15, 74, 31);
        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: height 0.8s ease, padding 0.8s ease, visibility 0s linear 1s;
        z-index: 2;
    }
    nav ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    nav.open {
        height: 300px;
        padding: 40px;
        transition: height 0.8s ease, padding 0.8s ease, visibility 0s linear;
    }
    nav li.mobile-only {
        display: block;
    }

    nav li.desktop-only {
        display: none;
    }
}

