/* Fonts */

/*
Light = 300
Regular = 400
Medium = 500
Semibold = 600 (change to 700 for em)
Bold = 700 */

  /* Univers (H1, H3, button, body-large)*/
  @font-face { 
    font-family: 'Univers';
    src: url('/assets/fonts/universltstd-boldcn-webfont.woff2') format('woff2'),
         url('/assets/fonts/universltstd-boldcn-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Univers';
    src: url('/assets/fonts/universltstd-cn-webfont.woff2') format('woff2'),
         url('/assets/fonts/universltstd-cn-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Univers';
    src: url('/assets/fonts/universltstd-lightcn-webfont.woff2') format('woff2'),
         url('/assets/fonts/universltstd-lightcn-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  /* Chronicle (H2, H4, H5, p) */
  @font-face {
    font-family: "Chronicle";
    src: url('/assets/fonts/chronicledisp-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/chronicledisp-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Chronicle";
    src: url('/assets/fonts/chronicletextg1-semiita-pro-webfont.woff2') format('woff2'),
         url('/assets/fonts/chronicletextg1-semiita-pro-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Chronicle";
    src: url('/assets/fonts/chronicletextg1-roman-pro-webfont.woff2') format('woff2'),
         url('/assets/fonts/chronicletextg1-roman-pro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Chronicle";
    src: url('/assets/fonts/chronicletextg1-italic-pro-webfont.woff2') format('woff2'),
         url('/assets/fonts/chronicletextg1-italic-pro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }


:root {
  /* Color-scheme */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --black-overlay: rgba(0, 0, 0, 0.75);
  --white-semi-opaque: rgba(255, 255, 255, 0.75);
  --white-opaque: rgba(255, 255, 255, 0.15);
  --accent1: #ca9c76;
  --accent2: #b8ceca;
  --accent-color-1: #84462c;
  --accent-color-1-semi-opaque: hsla(18, 50%, 35%, 0.75);
  --accent-color-1-opaque: hsla(18, 50%, 35%, 0.45);
  --accent-color-2: hsla(158, 16%, 29%, 1);
  --accent-color-2-opaque: hsla(158, 16%, 29%, 0.45);


  /* Measurements */
  --padding-inline: 40px;
  --large-gap: 40px;
  --small-gap: 20px;
  --header-height: 110px;

  /* Type scale */
  --type-display: clamp(3.5rem, 7vw + 1rem, 8rem);
  --type-subtitle: clamp(1.75rem, 2.5vw + 1rem, 2.5rem);
  --type-date: clamp(1.75rem, 2.5vw + 1rem, 2.5rem);
  --type-title: clamp(0.95rem, 0.3vw + 0.9rem, 1rem);
  --type-label: clamp(0.95rem, 0.3vw + 0.9rem, 1rem);
  --type-body: clamp(0.85rem, 0.2vw + 0.8rem, 0.875rem);
  --type-body-large: clamp(0.95rem, 0.2vw + 0.9rem, 1rem);
  --type-small: clamp(0.7rem, 0.2vw + 0.65rem, 0.75rem);
}

/* Magazine colors 
Teal: #3d554c
Terracota: #84462c
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Univers', sans-serif;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  background-image: url(/assets/logo/artsideas-ampersand-light-opaque.png);
  background-repeat: no-repeat;
  background-position: top -90px right -50px;
}

@media (max-width: 768px) {
  body {
    background-position: top -90px center;
  }
}

#root {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* overflow: hidden; (sticky position doesn't work with it */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  text-align: start;
  padding-inline: var(--padding-inline);
  overflow: hidden;
}

article#upcoming-events {
  padding-block: 100px;
}

/* Paragraph Styles */
h1 {
  font-family: 'Univers', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--type-display);
  line-height: 0.9;
  margin: 0;
}

.article-title {
  font-family: 'Univers', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--type-display);
  line-height: 0.9;
  margin: 0;
}

.subtitle {
  font-family: 'Chronicle', serif;
  font-weight: 600;
  font-style: italic;
  font-size: var(--type-subtitle);
  line-height: 1;
  margin: 0;
}

h4 {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-style: italic;
  font-size: var(--type-date);
  line-height: 1;
  margin: 0;
}

.date {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-style: italic;
  font-size: var(--type-date);
  line-height: 1;
  margin: 0;
}

h5 {
  font-family: 'Chronicle', serif;
  font-weight: 600;
  font-size: var(--type-title);
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.secondary-title {
  font-family: 'Chronicle', serif;
  font-weight: 600;
  font-size: var(--type-title);
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h6 {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--type-label);
  margin: 0;
}

.label {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--type-label);
  margin: 0;
}

/* Tag */
span.tag {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-style: italic;
  font-size: var(--type-title);
}

a {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--type-label);
}

a.address {
  font-family: 'Univers', sans-serif;
  font-weight: 400;
  font-size: var(--type-body-large);
  text-transform: none;
  text-decoration: none;
  color: var(--black);
}

a.address:hover {
  text-decoration: underline;
  color: var(--accent-color-1);
}


/* Buttons */ 
button {
  /* type same as a tag */
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--type-label);
  color: var(--black);
  
  cursor: pointer;

  /* box */
  padding: 10px 40px 10px 40px;
  background-color: var(--white);
  border: 0.75px solid var(--black) ;
}

@media (max-width: 425px) {
  button {
    width: 100%;
  }
}

button:disabled {
  opacity: 0.25;
}

button.button-large {
  font-size: 1.5rem;
  line-height: 1;
  padding: 30px 40px 30px 40px;
}

p {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-size: var(--type-body);
}

p.body-large {
  font-family: 'Univers', sans-serif;
  font-weight: 400;
  font-size: var(--type-body-large);
}

.small {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  font-size: var(--type-small);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

strong {
  font-weight: 700;
}

.subtle {
  opacity: 0.5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article#login {
  text-align: center;
  margin-block: var(--large-gap);
}

form {
  display: flex;
  flex-direction: column;
  width: min(100%, 450px);
  margin-inline: auto;
  margin-block: var(--large-gap);
}

form label {
  margin-bottom: calc(var(--small-gap) / 2);
  text-align: left;
}

form input {
  font-family: 'Chronicle', serif;
  font-weight: 400;

  font-size: var(--type-label);
  color: var(--black);
  
  /* box */
  padding: 10px;
  background-color: var(--white);
  border: 0.75px solid var(--black) ;

  margin-bottom: var(--small-gap);
}

form input.invalid {
  background-color: rgb(255, 184, 184)
}



