/* Fonts */

/*
Light = 300
Regular = 400
Medium = 500
Semibold = 600 (change to 700 for em)
Bold = 700 */

  /* Univers (H1, H3, button, body-large)*/
  @font-face { 
    font-family: 'Univers';
    src: url('/public/assets/fonts/universltstd-boldcn-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/universltstd-boldcn-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Univers';
    src: url('/public/assets/fonts/universltstd-cn-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/universltstd-cn-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Univers';
    src: url('/public/assets/fonts/universltstd-lightcn-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/universltstd-lightcn-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  /* Chronicle (H2, H4, H5, p) */
  @font-face {
    font-family: "Chronicle";
    src: url('/public/assets/fonts/chronicledisp-semibold-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/chronicledisp-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Chronicle";
    src: url('/public/assets/fonts/chronicletextg1-semiita-pro-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/chronicletextg1-semiita-pro-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Chronicle";
    src: url('/public/assets/fonts/chronicletextg1-roman-pro-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/chronicletextg1-roman-pro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Chronicle";
    src: url('/public/assets/fonts/chronicletextg1-italic-pro-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/chronicletextg1-italic-pro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

/* Color-scheme */
:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --black-overlay: rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Univers', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

#root {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1
}

/* Paragraph Styles */
h1 {
  font-family: 'Univers', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-family: 'Chronicle', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

h3 {
  font-family: 'Univers', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.375rem;
  line-height: 1.1;
  margin: 0;
}

h4 {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

h5 {
  font-family: 'Chronicle', serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h6 {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

/* Tag */
span.tag {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}

a {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}

/* Buttons */ 
button {
  /* type same as a tag */
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--black);

  /* box */
  padding: 10px 40px 10px 40px;
  background-color: var(--white);
  border: 0.75px solid var(--black) ;
}

button.button-large {
  font-size: 1.5rem;
  line-height: 1;

  padding: 30px 40px 30px 40px;
}

p {
  font-family: 'Chronicle', serif;
  font-weight: 400;
  font-size: 0.875rem;
}

p.body-large {
  font-family: 'Univers', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

small {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
}

strong {
  font-weight: 700;
}